body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title-banner {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

img {
    height: 2em;
    width: 2em;
}

.card {
    background-color: #4682B4;
    color: white;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 15px;
}